html {
  font-family: Helvetica, sans-serif;

}

body {
max-width: 1600px;
}

header {
  display: flex;
  height: 64px;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  top: 0;
  z-index: 5;
}

.toplogo {
  display: flex;
  margin-left: 24px;
  height: 32px;
  align-items: center;
}

.toplogo h4 {
  margin-left: 1px;
  font-weight: bold;
}

.toplogo h4:last-child {
  color: grey;
}

.topnav {
  margin-right: 8px;
  display: flex;
}

.topnav a {
  margin-right: 16px;
  color: black;
  text-decoration: none;
}

/*top banner*/

.topbanner {
  display: flex;
  background-color: lightgrey;
  width: 100%;
  margin-top: 64px;
}

.toppicture {
  width: 60%;
  height: auto;
  margin: 32px 0px 32px 24px;

}

.toppicture img {
  width: 100%;
  height: auto;
}

.righttop {
  display: flex;
  width: 40%;
  margin-left: 24px;
}

.righttop div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-left: 24px;
}

.button {
  background-color: grey;
  align-content: center;
  width: 100%;
  height: 32px;
  border: none;
  border-radius: 2px;
}

.button span {
  padding: 8px 0;
  color: lightgrey;
}

.righttop h2 {
  margin-bottom: 20px;
}

.righttop h4 {
   margin-bottom: 20px;
  }

/*second banner section*/

.secondbanner {
  display: flex;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.lefthalf {
  width: 60%;
  margin-left: 24px;
}

.lefthalf p {
  margin-top: 24px;
}

.lefthalf h3 {
  margin-top: 32px;
}

.lefthalf h5 {
  margin-top: 24px;
  font-size: 12px;
}

.lefthalf img {
  width: 100%;
  height: auto;
}

.righthalf {
  width: 40%;
  margin-left: 24px;
}

.threeitems {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
  border-left: 1px solid lightgrey;
}

.words {
  width: 65%;
}

.one, .two, .three {
  display: flex;
  align-items: center;
  width: 100%;
}

.one {
  margin-bottom: 16px;
}
.two {
  margin-top: 16px;
  margin-bottom: 16px;
}

.three {
  margin-top: 16px;
}

.righthalfpic {
  width: 35%;
  height: auto;
}

.righthalfpic img {
  width: 100%;
  height: auto;
}

.words {
  margin-left: 24px;
}

.words span {
  font-size: 12px;
  color: grey;
  margin: 8px 0;
}

.words a {
  color: blue;
  text-decoration: none;
  font-size: 12px;
}

/*start learning section*/

.startlearning {
  width: 100%;
  margin-right: 56px;
  background-color: lightgrey;
}

.startlearningtitle {
  display: flex;
  margin-top: 32px;
  left: 0;
  justify-content: center;
  padding: 32px 0 32px 0;
}

.startlearningflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.startlearningflex div {
  display: flex;
  flex-direction: column;
  margin: 0 16px 16px 16px;
  width: 27%;
  background-color: white;
  z-index: 1;
  align-content: space-between;
}

.startlearning div img {
  height: auto;
  width: 100%;
  margin-bottom: 16px;
}

.startlearningflex div h4 {
  margin-bottom: 8px;
  margin-right: 16px;
  margin-left: 16px;
}

.startlearning div h5 {
  margin-bottom: 8px;
  margin-right: 16px;
  margin-left: 16px;
  color: grey;
  font-size: 14px;
}

.startlearning div p {
  margin-bottom: 24px;
  margin-right: 16px;
  margin-left: 16px;
}

/*thesis exhibit section*/

.thesis {
  display: flex;
  flex-direction: column;
}

.thesistitle {
  align-self: center;
  margin: 32px 0;
}

.bigthesisflex {
  display: flex;
  width: 100%;
}

.bigthesisflex div {
  margin-left: 24px;
}

.leftthesis {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.leftthesis video {
  width: 100%;
  height: auto;
}

.leftthesis h4 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

.leftthesis span {
  margin-bottom: 32px;
  color: grey;
  font-size: 14px;
}

.rightthesis {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  align-content: flex-start;
}

.thesisone {
  background-color: lightgrey;
  z-index: 1;
  display: flex;
}

.thesisone img {
  width: 35%;
  height: auto;
  margin: 16px;
  align-self: center;
}

.thesisone div {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
}

.thesistwo {
  display: flex;
}

.thesistwo img {
  width: 35%;
  height: auto;
  margin: 16px;
  align-self: center;
}

.thesistwo div {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
}

.rightthesis div div span {
  font-size: 12px;
  color: grey;
  margin-top: 16px;
}

/*footer section*/

footer {
  display: flex;
  margin: 16px 16px 32px 24px;
  justify-content: space-between;
}

.footleft span {
  color: grey;
  font-size: 12px;
}

.footright a {
  text-decoration: none;
  color: grey;
  font-size: 12px;
}

/*general settings*/

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 12px;
  color: grey;
}
